.edit-button
    display: flex
    +size(30px)
    align-items: center
    justify-content: center
    background: $yellow
    border-radius: 50%
    @extend .transition-active
    +min-screen($screen-xlg)
        +size(40px)
    &__icon
        +size(60%)
        +min-screen($screen-xlg)
             +size(45%)
    &:hover
        background: #FFAD29
