.motion
	&-wrapper
		position: absolute
		display: block
		+size(100%)
	&-element
		position: absolute
		display: block
		will-change: transform
		pointer-events: none
		&__item
			display: block
			+size(100%)
		&-wrapper
			display: block
			+size(100%)
		&._ratate
			animation: rotate 10s 0s infinite  linear
			will-change: transform
	
		&-hexagon
			&._v1
				+size(29.375vw)
				top: 70%
				left: 80%
			&._v2
				+size(7.778vw)
				top: 40%
				left: 0%
			&._v3
				+size(5.972vw)
				top: -2%
				left: 75%
			&._v4
				+size(4.861vw)
				top: 10%
				left: 5%
			&._v5
				+size(4.583vw)
				top: 80%
				left: 65%
			&._v6
				+size(3.056vw)
				top: 82%
				left: 7%
			&__item
				+size(100%)
				animation-timing-function: ease-in-out
				._v1 &
					animation: blind 3s 0s infinite alternate
				._v2 &
					animation: blind 3s 1s infinite alternate
				._v3 &
					animation: blind 2s 0.5s infinite alternate
				._v4 &
					animation: blind 3s 0s infinite alternate
				._v5 &
					animation: blind 3s 0.5s infinite alternate
				._v6 &
					animation: blind 2s 1s infinite alternate
		&-rhombus
			&._v1
				top: 3%
				left: 0
			&._v2
				top: 2%
				left: 40%
			&._v3
				top: 75%
				left: 38%
			&._v4
				top: 65%
				left: 68%
			&__item
				animation-timing-function: ease-in-out
				._v1 &
					animation: blind 1s 0s infinite alternate
				._v2 &
					animation: blind 1s 1s infinite alternate
				._v3 &
					animation: blind 1s 0.5s infinite alternate
				._v4 &
					animation: blind 1s 0s infinite alternate
		&-cloud
			position: absolute
			&._v1
				top: -15%
				left: -30%
			&._v2
				top: 10%
				left: 70%
			&._v3
				width: 115%
				bottom: -5%
				left: -13%
				
			&._v4
				width: 110%
				bottom: -10%
				left: -5%
			&__item
				._v1 &
					width: 63.611vw
					height: 27.778vw
				._v2 &
					width: 42.569vw
					height: 13.681vw
				._v3 &
					width: 100%
				._v4 &
					width: 100%
		&-round
			&._v1
				+size(5vw)
				top: 80%
				left: 80%
			&._v2
				+size(7.78vw)
				top: 40%
				left: 0%
			&._v3
				+size(5vw)
				top: -2%
				left: 75%
			&._v4
				+size(4.861vw)
				top: 10%
				left: 35%
			&._v5
				+size(4.583vw)
				top: 80%
				left: 65%
			&._v6
				+size(1vw)
				top: 82%
				left: 7%
			&._v7
				+size(2vw)
				top: 82%
				left: 27%
			&._v8
				+size(.7vw)
				top: 40%
				left: 5%
			&._v9
				+size(.5vw)
				top: 52%
				left: 87%
			&._v10
				+size(.7vw)
				top: 40%
				left: 75%
		&-column
			+size(100%)
			&__item
				+size(100%)
				._v1 &
					background: url('../img/language/column-1.svg') no-repeat center top 5%
					background-size: cover
					+min-screen($screen-lg)
						background-size: 100% auto
				._v2 &
					background: url('../img/language/whale.svg') no-repeat
					background-size: 150%
					background-position: bottom center
					+min-screen($screen-lg)
						background-size: 80%
						background-position: bottom left
		&-star
			&._v1
				top: 15%
				left: 85%
				+size(2.604vw)
			&._v2
				top: 10%
				left: 10%
				+size(2vw)

			&._v3
				top: 15%
				left: 20%
				+size(1.8vw)
			&._v4
				top: 23%
				left: 70%
				+size(1.5vw)
			&__item
				+size(100%)