.lobby
    background: linear-gradient(180deg, #4045B0 0%, #B39DC7 52.08%, #FFE2E1 100%)
    &__background
        background: url('../img/lobby/lobby-bg.png') no-repeat top -20vh left -20vw
        background-size: auto 115%