@keyframes falling 
	0% 
		transform: translate3d(300,0,0) rotate(0deg)
	100% 
		transform: translate3d(-350px,700px,0) rotate(90deg)
		opacity: 0

@keyframes falling2
	0% 
		transform: translate3d(300,0,0) rotate(0deg)
	100% 
		transform: translate3d(-650px,700px,0) rotate(90deg)
		opacity: 0

@keyframes falling3
	0% 
		transform: translate3d(300,0,0) rotate(0deg)
	100% 
		transform: translate3d(350px,700px,0) rotate(90deg)
		opacity: 0

@keyframes blind 
	0% 
	   opacity: 1
	100% 
		opacity: 0.5

@keyframes blind2
	0% 
	   opacity: 1
	100% 
		opacity: 0.1

@keyframes rotate
	0% 
		transform: rotate(0)
	100% 
		transform: rotate(360deg)


@keyframes pollen 
	0% 
		transform: translate3d(0,300,0) rotate(-20deg)
	100% 
		transform: translate3d(80vw,-15vh,0) rotate(90deg)
		opacity: 0

@keyframes pollen2
	0% 
		transform: translate3d(0,300,0) rotate(0deg)
	100% 
		transform: translate3d(70vw,-10vh,0) rotate(-90deg)
		opacity: 0

@keyframes pollen3
	0% 
		transform: translate3d(0,300,0) rotate(0deg)
	100% 
		transform: translate3d(60vw,5vh,0) rotate(90deg)
		opacity: 0

@keyframes bubble 
	0% 
		transform: translate3d(0,0,0) 
	60% 
		opacity: 1
	100% 
		transform: translate3d(10vw,-110vh,0) 
		opacity: 0

@keyframes bubble2
	0% 
		transform: translate3d(300,0,0) 
	60% 
		opacity: 1
	100% 
		transform: translate3d(-10vw,-110vh,0) 
		opacity: 0

@keyframes bubble3
	0% 
		transform: translate3d(300,0,0) 
	60% 
		opacity: 1
	100% 
		transform: translate3d(0vw,-110vh,0) 
		opacity: 0

@keyframes plant
	0% 
		transform: rotate(-10deg)
	100% 
		transform: rotate(20deg)

@keyframes plant2
	0% 
		transform: rotate(-5deg)
	100% 
		transform: rotate(10deg)

@keyframes start-bubbles
	0% 
		transform: translate3d(0vw,0,0) 
		opacity: 1
	40% 
		transform: translate3d(-20vw,-10vh,0) 
		opacity: 0
	60% 
		transform: translate3d(20vw,-20vh,0) 
		opacity: 1
	100% 
		transform: translate3d(-10vw,20vh,0) 
		opacity: 0

@keyframes start-bubbles2
	0% 
		transform: translate3d(0vw,0,0) 
		opacity: 1
	40% 
		transform: translate3d(-20vw,-20vh,0) 
		opacity: 0
	60% 
		transform: translate3d(-10vw,20vh,0) 
		opacity: 1
	100% 
		transform: translate3d(20vw,10vh,0) 
		opacity: 0

@keyframes start-bubbles3
	0% 
		transform: translate3d(0vw,0,0) 
		opacity: 1
	40% 
		transform: translate3d(-20vw,-20vh,0) 
		opacity: 0
	60% 
		transform: translate3d(0vw,20vh,0) 
		opacity: 1
	100% 
		transform: translate3d(20vw,20vh,0) 
		opacity: 0

@keyframes card
	0% 
		transform: rotateX(55deg) rotateY(-15deg) rotateZ(50deg)
	60% 
		transform: rotateX(40deg) rotateY(-10deg) rotateZ(50deg)
	100% 
		transform: rotateX(30deg) rotateY(-20deg) rotateZ(50deg)

@keyframes card2
	0% 
		transform: rotateX(50deg) rotateY(10deg) rotateZ(-50deg)
	50% 
		transform: rotateX(40deg) rotateY(15deg) rotateZ(-55deg)
	100% 
		transform: rotateX(30deg) rotateY(20deg) rotateZ(-50deg)

@keyframes card3
	0% 
		transform: scale(0.8) rotateX(-30deg) rotateY(40deg) rotateZ(30deg)
	50% 
		transform: scale(0.8) rotateX(-40deg) rotateY(45deg) rotateZ(35deg)
	100% 
		transform: scale(0.8) rotateX(-30deg) rotateY(50deg) rotateZ(30deg)

@keyframes card4
	0% 
		transform: scale(0.6) rotateX(-40deg) rotateY(-30deg) rotateZ(-30deg)
	50% 
		transform: scale(0.6) rotateX(-45deg) rotateY(-35deg) rotateZ(-40deg)
	100% 
		transform: scale(0.6) rotateX(-50deg) rotateY(-30deg) rotateZ(-35deg)

@keyframes card5
	0% 
		transform: scale(1.2) rotateX(20deg) rotateY(-30deg) rotateZ(40deg)
	50% 
		transform: scale(1.2) rotateX(10deg) rotateY(-35deg) rotateZ(40deg)
	100% 
		transform: scale(1.2) rotateX(15deg) rotateY(-40deg) rotateZ(45deg)

@keyframes hourglass
	0% 
		transform: rotate(0deg)
	100% 
		transform: rotate(180deg)

@keyframes cardsLoading
	0%,
	20%,
	80%,
	100% 
		transform: translateX(0%) rotateY(0deg)
		
	40%,
	60%
		transform: translateX(-100%) rotateY(-180deg)
	
@keyframes timerIndicator
	0% 
		width: 200px
	100% 
		width: 0

@keyframes timerIndicatorMob
	0% 
		width: 100px
	100% 
		width: 0