$default-font-size: 14px

$default-transition-duration: 0.4s
$default-transition-function: ease-in

$breakpoint-lg: 1400px
$breakpoint-md: 1000px
$breakpoint-sm: 767px

$indent-col-lg: 15px
$indent-col-md: 15px
$indent-col-sm: 10px
$indent-col-xs: 10px

$cols-total: 12
$site-paddings: 20px

$c-white: #FFFFFF
$c-primary: #F08923

$yellow: #FFCD45
$grey-light: #F0F2F9
$grey-middle: #AFB5C9
$grey-dark: #2F323E
$green: #57B06F
$wave: #688B8F
$red: #F86060